<div class="container">
<div class="row">
    <div class="col-md-6">
    <h1>Chrome Tab Router</h1>
    <p>This extension enables you to define the preferred Chrome user profile where you would like to open your website.</p>

    <p>The extension connects with an external webservice that provides the communication between the various user profiles you have running.</p>
    
    <h2>Groupcode</h2>
    <p>In order to connect user profiles together a <b>groupcode</b> is required.</p>
    <p>For the very first user profile you are setting up you will need to generate a groupcode.</p>
    <p>For next user profiles you will copy over the generated user profile yourself.</p>
    <p>In this way the user profiles get connected.</p>
    <button class="btn btn-primary" (click)="generateClicked()">Generate</button>
</div>
</div>
</div>