<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="welcome" routerLinkActive="active">Welcome</a>      
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="groupcode" routerLinkActive="active">Groupcode</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="connection" routerLinkActive="active">Connection</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="userprofiles" routerLinkActive="active">User profiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="rules" routerLinkActive="active">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="log" routerLinkActive="active">Log</a>
    </li>
  </ul>

  <router-outlet></router-outlet>