<h1>Groupcode</h1>
<p>
    The groupcode defines the set of Chrome user profiles that work together.
</p>
<p>
    You have two options:
</p>
<ol>
    <li>Generate a new groupcode</li>
    <li>Reuse a generated groupcode</li>
</ol>
<p>
    Currently active groupcode:
</p>
<p *ngIf="!!(groupcode | async); else nogroupcode">    
    {{ groupcode | async }}
</p>
<ng-template #nogroupcode>
    <i>No groupcode assigned yet</i>
</ng-template>


<h2>Generate</h2>
<p><button (click)="generateClicked()">Generate</button></p>

<h2>Reuse existing code</h2>
<p>    
    <textarea [(ngModel)]='enteredGroupcode' rows="5" cols="40">                             
    </textarea>
    <button (click)="submitClicked()">Submit</button>
</p>